@page "/edit"
@page "/edit/{id:guid}"
@page "/edit/{id:guid}/{hijo:bool}"

@if (_todo is null || _todo.Id == Guid.Empty) // Compruebo si la ID de la tarea pasada está vacía
{
    if (Hijo)
    {
        <h1>Nueva subtarea</h1> // Si está vacía, muestro este título        
    }
    else
    {
        <h1>Nueva tarea</h1> // Si está vacía, muestro este título        
    }
}
else
{
    if (Hijo)
    {
        <h1>Editando subtarea</h1>
        // Si no está vacía, muestro este otro título
    }
    else
    {
        <h1>Editando tarea</h1> // Si no está vacía, muestro este otro título
    }
}

@* Contenedor para añadir o editar una tarea *@
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <EditForm Model="@_todo" OnValidSubmit="@HandleValidSubmitAsync">
                <DataAnnotationsValidator />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Nombre de la @_texto</label>
                            <InputText @bind-Value="_todo.Name" /> 
                            @* Aquí se mostrará el error de validación del nombre *@
                            <ValidationMessage For="@(()=>_todo.Name)"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Descripción de la @_texto</label>
                            <InputText @bind-Value="_todo.Description" />
                            @* Aquí se mostrará el error de validación de la descripción *@
                            <ValidationMessage For="@(()=>_todo.Description)"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="chkDone">Finalizada?</label>
                            <InputCheckbox @bind-Value="_todo.Done" />
                        </div>
                    </div>
                </div>

                <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
                    <button type="submit" class="btn btn-primary btn-block confirm-button">Guardar</button>
                    <button type="submit" class="btn btn-danger btn-block"><a style="text-decoration:none; color:inherit;" href="/">Volver</a></button>
                </div>

                <ValidationSummary />
            </EditForm>
        </div>
    </div>
</div>