@page "/"
@inherits ComponentBase
@using Microsoft.AspNetCore.Components.Web

<h1>Task Manager</h1>

@* Contenedor para las tareas pendientes *@
<ContenedorDeTareas Header="Tareas Pendientes" TaskList="@_pendingTasks" OnClickFunction="TodoOnClick" MasDeUnBoton="@true"></ContenedorDeTareas>

@* Contenedor para las tareas realizadas *@
<div class="container col-5 rounded border border-primary p-3 ml-3 d-inline-block">
    <h3>Tareas finalizadas</h3>
    <div class="container border-2">
        <ul>
            @foreach (var task in _finishedTasks)
            {
                <li @onclick="()=>TodoOnClick(task.Id)">@task.Name - @task.Description</li>
                <br/>
                <button type="button" class="btn btn-info"><a class="unstyled-link" href="/edit/@task.Id">Editar</a></button>
                <button type="button" class="btn btn-info"><a class="unstyled-link" href="/edit/@task.Id/@true">Añadir Subtarea</a></button>               
            }
        </ul>
    </div>
</div>


@* Contenedor para las subtareas pendientes *@
<div class="container col-5 border rounded border-primary p-3 ml-3 d-inline-block">
    <h3>SubTareas pendientes</h3>
    <div class="container border-2">
        <ul>
            @foreach (var subtask in _pendingSubTasks)
            {
                <li>@subtask.Name - @subtask.Description</li>
                <br/>
                <button type="button" class="btn btn-info"><a class="unstyled-link" href="/edit/@subtask.Id/@true">Editar</a></button>
            }
        </ul>
    </div>
</div>

@* Contenedor para las subtareas realizadas *@
<div class="container col-5 rounded border border-primary p-3 ml-3 d-inline-block">
    <h3>SubTareas finalizadas</h3>
    <div class="container border-2">
        <ul>
            @foreach (var subtask in _finishedSubTasks)
            {
                <li>@subtask.Name - @subtask.Description</li>
                <br/>
                <button type="button" class="btn btn-info"><a class="unstyled-link" href="/edit/@subtask.Id/@true">Editar</a></button>
            }
        </ul>
    </div>
</div>